
<html lang="en">
    <head>
      <meta charset="utf-8">
    
      <title>Comedy Special Recommender</title>
      <meta name="description" content="Comedy Special Recommender">
      <meta name="author" content="Isaac">
      <script src="{{ url_for('static', filename='brython.js')}}"></script>
      <script src="{{ url_for('static', filename='brython_stdlib.js')}}"></script>
    
    </head>
    
    <body onload="brython()">
    
    <script type="text/python" src="{{ url_for('static', filename='brapp.py')}}"></script> 
    <!-- <script type="text/python">  
        from browser import document, ajax, console
        import json
        def click(event):
            x = document["1"].value
            print (x)
        document['1'].bind('click', click)
        document['2'].bind('click', click)
        # function to generate request
        def send_coefficient_json(input):
            req = ajax.Ajax()
            req.bind('complete', display_solutions)
            req.open('POST',
                     '/solve',
                     True)
            req
        # function to render response
    </script>--> 
        <h1>Comedy Special Recommender</h1>
        <p></p>
        <p>Click a special you've seen from the images below!</p>

        <div>
            <button type="button" id="1" value="1">
                <img src="{{ user_images[0] }}" width='200', height='250'>
            </button>
            <button type="button" id="2" value="2">
                <img src="{{ user_images[2] }}" width='200', height='250'>
            </button>
            <button type="button" id="3" value="3">
                <img src="{{ user_images[3] }}" width='200', height='250'>
            </button>
            <button type="button" id="4" value="4">
                <img src="{{ user_images[4] }}" width='200', height='250'>
            </button>
            <button type="button" id="5" value="5">
                <img src="{{ user_images[5] }}" width='200', height='250'>
            </button>
        </div>

        <div>
            <button type="button", id="6" value="6">
                <img src="{{ user_images[6] }}" width='200', height='250'>
            </button>
            <button type="button" id="7" value="7">
                <img src="{{ user_images[7] }}" width='200', height='250'>
            </button>
            <button type="button" id="8" value="8">
                <img src="{{ user_images[8] }}" width='200', height='250'>
            </button>
            <button type="button" id="9" value="9">
                <img src="{{ user_images[9] }}" width='200', height='250'>
            </button>
            <button type="button" id="10" value="10">
                <img src="{{ user_images[1] }}" width='200', height='250'>
            </button>  
        </div>
        
        <div>
          <p> Your Recommendations: <span id="recommendations"></span></p>
    
    
    </body>
    </html>